<p>Hello,</p>

<p>You just received an invite from a peer to a project, {{project}} by {{inviterName}} {{inviterEmail}}.</p>

<p>Login to accept the invite:</p>

<p><a href="{{inviteLink}}">Continue</a></p>

<p>Best regards,<br>The Team</p>
