<p>Hello,</p>

<p>You just received an invite to become a peer by {{inviterEmail}}.</p>

<p>Click the link below to accept the invite and onboard to the project tracking platform:</p>

<p><a href="{{inviteLink}}">Continue</a></p>

<p>Best regards,<br>The Team</p>
